<div class="newsmag-blog-post-layout-b">
    <div class="row">
        <div class="col-sm-3 col-xs-4">
            <div class="newsmag-image">
                <a href=" <%= article.url%>">
                        <img width="65" height="65" 
                        src = "<%= article.urlToImage %>"

                        class="attachment-newsmag-recent-post-list-image size-newsmag-recent-post-list-image wp-post-image" alt="" srcset="<%= article.urlToImage %> 65w, <%= article.urlToImage %> 150w" sizes="(max-width: 65px) 100vw, 65px" /> 
                    </a>
            </div>
        </div>
        <div class="col-sm-9 col-xs-8">
            <div class="newsmag-title">
                <h3>
                        <a href="<%= article.url%>">
                        <%= article.title %>
                        </a>
                    </h3>
            </div>
        </div>
    </div>
</div>