<div class="newsmag-blog-post-layout-banner col-md-3">
    <a href="<%=tech.url%>">
        <img width="275" height="210" src="<%=tech.urlToImage%>" class="attachment-newsmag-post-grid-small size-newsmag-post-grid-small wp-post-image" alt="" 
        srcset="<%=tech.urlToImage%> 275w, <%=tech.urlToImage%> 255w" sizes="(max-width: 275px) 100vw, 275px" /> 
    </a>
    <div class="banner-content">
        <span class="newsmag-post-layout-category">
            <a href="<%=tech.url%>">Technology</a>
        </span>
        <h3>
            <a href="<%=tech.url%>"><%=tech.title%></a>
        </h3>
    </div>
</div>