<div class="col-md-4">
    <div class="newsmag-post-box-a posts-column-layout">
        <h2>
            <span>Politics</span>
        </h2>
        <div class="newsmag-image">
            <a class="newsmag-post-box-image" href="<%=topic.url%>">
            <img width="350" height="260" src="<%=topic.urlToImage%>" class="attachment-newsmag-post-horizontal size-newsmag-post-horizontal wp-post-image" alt="" srcset="<%=topic.urlToImage%> 350w, <%=topic.urlToImage%> 300w, <%=topic.urlToImage%> 560w" sizes="(max-width: 350px) 100vw, 350px" /> </a>
            <span class="newsmag-post-box-a-category">
                <a href="">Politics</a>
            </span>
        </div>
        <h3>
            <a href=""><%=topic.title%></a>
        </h3>
        <p><%=topic.description %></p>
    </div>
</div>
    