<div class="newsmag-blog-post-layout-b wide-layout">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <div class="newsmag-image">
                <a href="<%=tour.url%>">
                    <img width="255" height="195" src="<%=tour.urlToImage%>" class="attachment-newsmag-vertical-post size-newsmag-vertical-post wp-post-image" alt="" srcset="<%=tour.urlToImage%> 255w, <%=tour.urlToImage%> 275w" sizes="(max-width: 255px) 100vw, 255px" />
                </a>
                <span class="newsmag-post-box-category">
                    <a href="https://www.demos.machothemes.com/newsmag-lite/category/big-block-of-4/"><%=tour.author%></a>
                </span>
            </div>
        </div>
        <div class="col-sm-7 col-xs-12">
            <div class="newsmag-title">
                <h3><a href="<%=tour.url%>">
                <%=tour.title%>
                </a></h3>
                <p><%=tour.description %></p>
            </div>
        </div>
    </div>
</div>