<!DOCTYPE html>
<html lang="en-US">

<head>
    <% include ./partials/head %>
</head>

<body class="home page-template-default page page-id-5 ctdw-bar-visible">
    <div id="page" class="site">
        <% include ./partials/socialbar %>
            <header id="masthead" class="site-header" role="banner">
                <% include ./partials/header %>
            </header>
            <!-- #masthead -->
            <div id="content" class="site-content">
                <div id="newsmag-homepage-slider">
                    <div id="newsmag_slider_widget-1" class="widget newsmag_slider">
                        <section class="primary-slider" role="slider">
                            <div class="owl-carousel owl-theme newsmag-slider">
                                <div class="item">
                                    <div class="item-image">
                                        <a href="https://www.demos.machothemes.com/newsmag-lite/millennials-have-taken-over-the-city-square-a-surprise-party-was-organised/">
                                        <img width="1200" height="600" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/1_D_adult-1867618_1280-1200x600.jpg" class="attachment-newsmag-slider-image size-newsmag-slider-image wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/1_D_adult-1867618_1280.jpg 1200w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/1_D_adult-1867618_1280-300x150.jpg 300w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/1_D_adult-1867618_1280-768x384.jpg 768w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/12/1_D_adult-1867618_1280-1024x512.jpg 1024w" sizes="(max-width: 1200px) 100vw, 1200px" /> </a>
                                        <div class="slider-caption">
                                            <div class="slide-meta">
                                                <span class="category"><a href="https://www.demos.machothemes.com/newsmag-lite/category/lifestyle/">Lifestyle</a></span>
                                                <span class="ticker"><strong>December 12, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                            </div>
                                            <h3 class="entry-title">
                                                <a href="https://www.demos.machothemes.com/newsmag-lite/millennials-have-taken-over-the-city-square-a-surprise-party-was-organised/">
                                                Millennials have taken over the city square. A surprise party was organised</a>
                                            </h3>
                                        </div>
                                        <!-- end caption -->
                                    </div>
                                    <!-- end image -->
                                </div>
                                <!-- end h-entry -->
                                <div class="item">
                                    <div class="item-image">
                                        <a href="https://www.demos.machothemes.com/newsmag-lite/changing-tastes-how-society-evolution-and-history-shape-our-personality/">
                                        <img width="1200" height="600" src="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/1_lite_B_StockSnap_RVYCCXWSLI-1200x600.jpg" class="attachment-newsmag-slider-image size-newsmag-slider-image wp-post-image" alt="" srcset="https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/1_lite_B_StockSnap_RVYCCXWSLI.jpg 1200w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/1_lite_B_StockSnap_RVYCCXWSLI-300x150.jpg 300w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/1_lite_B_StockSnap_RVYCCXWSLI-768x384.jpg 768w, https://mk0machothemesd4sa77.kinstacdn.com/wp-content/uploads/sites/7/2016/10/1_lite_B_StockSnap_RVYCCXWSLI-1024x512.jpg 1024w" sizes="(max-width: 1200px) 100vw, 1200px" /> </a>
                                        <div class="slider-caption">
                                            <div class="slide-meta">
                                                <span class="category"><a href="https://www.demos.machothemes.com/newsmag-lite/category/lifestyle/">Lifestyle</a></span>
                                                <span class="ticker"><strong>October 11, 2016</strong>&nbsp; - &nbsp;<strong>by</strong> admin</span>
                                            </div>
                                            <h3 class="entry-title">
                            <a href="https://www.demos.machothemes.com/newsmag-lite/changing-tastes-how-society-evolution-and-history-shape-our-personality/">Changing Tastes: how society, evolution and  history shape our personality.</a>
                        </h3>
                                        </div>
                                        <!-- end caption -->
                                    </div>
                                    <!-- end image -->
                                </div>
                                <!-- end h-entry -->
                            </div>
                            <!-- end slider swipe -->
                            <!-- article navigation list -->
                            <div class="owl-nav-list hidden-xs hidden-sm">
                                <h4>Today’s  hot  topics</h4>
                                <ul>
                                    <li class="active"><span>01</span><a href="#">Millennials have taken over the city square. A surprise party was organised</a></li>
                                    <li><span>02</span><a href="#">Changing Tastes: how society, evolution and  history shape our personality.</a></li>
                                </ul>
                            </div>
                            <!-- end article navigation list -->
                        </section>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <% topics.forEach(function(topic){ %>
                            <div class="widget newsmag_builder">
                                <%- include("./partials/topic-column",{topic}); %>
                            </div>
                            <% }); %>
                        
                        <div id="newsmag_widget_posts_list_vertical-1" class="widget newsmag_builder">
                            <div class="col-md-8 newsmag-post-list-vertical-row">
                                <h2>
                                    <span>Travel Guides</span>
                                </h2>
                                <% travelguides.forEach(function(tour){ %>
                                    <%- include("./partials/travelguides",{tour}); %>
                                <% }); %>                                
                                                                
                            </div>
                        </div>
                        <div id="newsmag_widget_posts_column-4" class="widget newsmag_builder">
                            <div class="col-md-4 newsmag-blog-post-layout-row">
                                <h2><span>Social</span></h2>
                                <% articles.forEach(function(article){ %>
                                    <%- include("./partials/socials",{article}); %>
                                <% }); %>                                
                            </div>
                        </div>
                        <div id="newsmag_widget_posts_list_horizontal-1" class="widget newsmag_builder">
                            <div class="newsmag-margin-top post-list-horizontal newsmag-blog-post-layout-row">
                                <div class="col-md-12">
                                    <h2>
                                    <span>Featured</span>
                                </h2>
                                </div>
                                <div class="newsmag-blog-post-layout-row">
                                <% featured.forEach(function(feature){ %>
                                    <%- include("./partials/featuredPost",{feature}); %>
                                <% }); %> 
                                </div>
                            </div>

                            <div class="newsmag-blog-post-layout-row">
                            <% featured1.forEach(function(feature){ %>
                                    <%- include("./partials/featuredPost",{feature}); %>
                                <% }); %> 
                            </div>
                        </div>
                        <div id="newsmag_widget_posts_grid-1" class="widget newsmag_builder">
                            <div class="col-md-12">
                                <div class="row newsmag-margin-bottom newsmag-post-banner-row">
                                    <h2>
                            <span>Technology</span>
                        </h2>
                                <% technology.forEach(function(tech){ %>
                                    <%- include("./partials/technology",{tech}); %>
                                <% }); %> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #content -->
            <footer id="colophon" class="site-footer" role="contentinfo">
                <% include ./partials/footer %>
            </footer>
            <!-- #colophon -->
    </div>
    <!-- #page -->
    <script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {
        "apiSettings": {
            "root": "https:\/\/www.demos.machothemes.com\/newsmag-lite\/wp-json\/contact-form-7\/v1",
            "namespace": "contact-form-7\/v1"
        },
        "recaptcha": {
            "messages": {
                "empty": "Please verify that you are not a robot."
            }
        }
    };
    /* ]]> */
    </script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/plugins/contact-form-7/includes/js/scripts.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/plugins/cpo-demo-wrapper/scripts/general.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/offscreen/offscreen.min.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/sticky/jquery.sticky.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/navigation/navigation.min.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/skip-link-focus/skip-link-focus-fix.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/adsenseloader/jquery.adsenseloader.min.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/owl-carousel/owl.carousel.min.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/plyr/plyr.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/vendors/machothemes/machothemes.min.js'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var WPUrls = {
        "siteurl": "http:\/\/www.demos.machothemes.com\/newsmag-lite",
        "theme": "https:\/\/www.demos.machothemes.com\/newsmag-lite\/wp-content\/themes\/newsmag",
        "ajaxurl": "https:\/\/www.demos.machothemes.com\/newsmag-lite\/wp-admin\/admin-ajax.php"
    };
    /* ]]> */
    </script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-content/themes/newsmag/assets/js/functions.js'></script>
    <script type='text/javascript' src='https://mk0machothemesd4sa77.kinstacdn.com/wp-includes/js/wp-embed.min.js'></script>
</body>

</html>